@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.todo-app {
    background-color: #f3f3f3;
    width: 350px;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #ddd;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.title {
    color: #242424;
    font-size: 26px;
}

.empty {
    font-size: 14px;
    color: #888888;
    margin-top: 10px;
    font-weight: 400;
    user-select: none;
}

.form-container {
    width: 100%;
    margin: 10px 0px;

    display: flex;
    justify-content: space-between;
}

.input-field {
    flex: 1;  
    padding: 3px;
    padding-left: 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.add-button {
    background-color: #d3d3d3;
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: 3px;
    border: 1px solid #bbb;
    cursor: pointer;

    &:hover {
        background-color: #c5c5c5;
    }
}

.todo-list {
    width: 100%;
    margin-top: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.todo-item {
    background-color: white;
    border: 1px solid #ddd;
    border-left: 4px solid #242424;
    border-radius: 3px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 15px;
}

.delete-button {
    background-color: #242424;
    padding: 2px 4px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.fa-solid {
    color: white;
    font-size: 13px;
}